body
{
	background:#333;
}

#page-wrap:after
{
	content: "Smartphone Layout";
}

h2 span, section h3
{
	display:none;
}

h2
{
	font-size: large;
}

body 
{
	font-size:xx-large;
}

footer, input
{
	font-size:large;
}

#creditos iframe
{
	width:310px;
	height:215px;
}

#creditos img
{
	width:310px;
}

#creditos
{
	margin:0px 0px 0px 0px;
	padding:0px;
}