	<form action="/quizes/<%= quiz.id %>/answer" method="get">
		Temática : <%= quiz.tema %><br/>
		Pregunta: <%= quiz.pregunta %><br/>
		<input type="text" name="respuesta" value="Respuesta" />
		<input type="submit" value="Enviar" />
	</form>
